---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🎭 Watch this space...</h1>
<p>
			<img src="logotransparent.png" alt="logo" width="50%" align="middle">
</p>
			<p>
				Welcome to Side Hustle Productions.
			</p>
			<p>
				Watch this space for updates!
			</p>

		</main>
		<Footer />
	</body>
</html>
